.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 70%;
    gap: 15px;
    
    grid-template-areas: "h h" 
                         "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
    grid-area: c;
    background-color: rgb(233, 233, 233);
    border-radius: 0.6%;
}

@media (max-width: 700px) {
    .app-wrapper {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas:
        "h"
        "n"
        "c"
    } 
}


